<a href="https://colab.research.google.com/github/audwls4545/metaverse/blob/main/1%EB%B2%88%EC%A7%B8_%EA%B0%95%EC%9D%98_%EB%AC%B8%EC%A0%9C_1%2C_%EB%AC%B8%EC%A0%9C_2_(%EC%9E%90%EB%A3%8C%ED%98%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
myName = "홍길동"
myName

'홍길동'

In [2]:
myAge = 0
myAge = 20
myAge

20

In [3]:
myHeight, myWeight = 175, 70

print(myHeight)
print(myWeight)

175
70

In [4]:
korea, english, math = 77, 88, 81
korea_history = 63
science = 97

In [5]:
total = korea + english + math + korea_history + science
print(total)

406

In [6]:
avg = total/5
print(avg)

81.2

In [7]:
type(avg)

float

In [8]:
myAge = '20'
type(int(myAge))

int

In [9]:
avg = 81.2
type(str(avg))

str

In [11]:
myName = '홍길동'
myAge = '20'
print(myName + " " + myAge + "세")

홍길동 20세

In [14]:
A = "총합:"
B = total
print(A + str(B))

총합:406

In [21]:
A, B = 3, 8
print(A+B)
print(B-A)
print(A*B)
print(A**8)
print(A/B)
print(B//A)
print(A%B)

11
5
24
6561
0.375
2
3

In [23]:
text = '''
Usage: thingy [OPTIONS]
    -h                         DISPLAY this usage message
    -H hostname                HOstname to connect to
'''
print(text)

Usage: thingy [OPTIONS]
    -h                         DISPLAY this usage message
    -H hostname                HOstname to connect to

In [24]:
print('"따옴표를 출력해주세요"')

"따옴표를 출력해주세요"

In [28]:
text = "\n 1번째 줄\n 2번째 줄"
print(text)

 1번째 줄
 2번째 줄

In [32]:
print('"다음은 문자열 안에서 줄을바꿀 때 사용합니다. \\n"'+"\n'다음 문자는 문자열 사이에 탭간격을 줄 때 사용합니다. \\t'")

"다음은 문자열 안에서 줄을바꿀 때 사용합니다. \n"
'다음 문자는 문자열 사이에 탭간격을 줄 때 사용합니다. \t'

In [33]:
print("*"*50)
print("I LOVE PYTHON")
print("*"*50)

**************************************************
I LOVE PYTHON
**************************************************

In [34]:
print("*"*6)
print("*"+" "*4+"*")
print("*"+" "*4+"*")
print("*"*6)

******
*    *
*    *
******

In [35]:
A = "PYTHON"
print(A[0])

P

In [37]:
A = "I LOVE PYTHON"
print(A[2])
print(A[-6])

L
P

In [39]:
A = "I LOVE PYTHON"
print(A[2:6])

LOVE

In [40]:
A = "I LOVE PYTHON"
print(A[-6:])

PYTHON

In [41]:
A = "I LOVE PYTHON"
print(A[:2] + "WANT" + A[-7:])

I WANT PYTHON

In [49]:
A = "PYSON"
A = A.replace("S","TH")
print(A)

PYTHON

In [51]:

print("이름: %s"%"홍길동")
print("나이: %d" %20)

이름: 홍길동
나이: 20

In [53]:
print("I studied for %d hours to do %s." %(2,"python"))

I studied for 2 hours to do python.

In [58]:
percent = 25
print("%d%%|■■■        |"%percent)

25%|■■■        |

In [59]:
percent, progressbar = 50, "|■■■■■"
progressbar = "|■■■■■"
print("%d%%%s     |"%(percent,progressbar))

50%|■■■■■     |

In [63]:
A = "python"
B = "love"
print(f"I {B} {A}.")

I love python.

In [64]:
print("I {0} {1}.".format("love","python"))

I love python.

In [65]:
print("I {second} {first}.".format(first="python", second="love"))

I love python.

In [71]:
print('{0:0.3f}%'.format(0.125))  #32번 다시 풀기

0.125%