<a href="https://colab.research.google.com/github/audwls4545/metaverse/blob/main/1%EB%B2%88%EC%A7%B8_%EA%B0%95%EC%9D%98_%EB%AC%B8%EC%A0%9C_1%2C_%EB%AC%B8%EC%A0%9C_2_(%EC%9E%90%EB%A3%8C%ED%98%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1

In [ ]:
myName = "홍길동"
myName

'홍길동'

In [ ]:
myAge = 0
myAge = 20
myAge

20

In [ ]:
myHeight, myWeight = 175, 70

print(myHeight)
print(myWeight)

175
70

In [ ]:
korea, english, math = 77, 88, 81
korea_history = 63
science = 97

In [ ]:
total = korea + english + math + korea_history + science
print(total)

406

In [ ]:
avg = total/5
print(avg)

81.2

In [ ]:
type(avg)

float

In [ ]:
myAge = '20'
type(int(myAge))

int

In [ ]:
avg = 81.2
type(str(avg))

str

In [ ]:
myName = '홍길동'
myAge = '20'
print(myName + " " + myAge + "세")

홍길동 20세

In [ ]:
A = "총합:"
B = total
print(A + str(B))

총합:406

In [ ]:
A, B = 3, 8
print(A+B)
print(B-A)
print(A*B)
print(A**8)
print(A/B)
print(B//A)
print(A%B)

11
5
24
6561
0.375
2
3

In [ ]:
text = '''
Usage: thingy [OPTIONS]
    -h                         DISPLAY this usage message
    -H hostname                HOstname to connect to
'''
print(text)

Usage: thingy [OPTIONS]
    -h                         DISPLAY this usage message
    -H hostname                HOstname to connect to

In [ ]:
print('"따옴표를 출력해주세요"')

"따옴표를 출력해주세요"

In [ ]:
text = "\n 1번째 줄\n 2번째 줄"
print(text)

 1번째 줄
 2번째 줄

In [ ]:
print('"다음은 문자열 안에서 줄을바꿀 때 사용합니다. \\n"'+"\n'다음 문자는 문자열 사이에 탭간격을 줄 때 사용합니다. \\t'")

"다음은 문자열 안에서 줄을바꿀 때 사용합니다. \n"
'다음 문자는 문자열 사이에 탭간격을 줄 때 사용합니다. \t'

In [ ]:
print("*"*50)
print("I LOVE PYTHON")
print("*"*50)

**************************************************
I LOVE PYTHON
**************************************************

In [ ]:
print("*"*6)
print("*"+" "*4+"*")
print("*"+" "*4+"*")
print("*"*6)

******
*    *
*    *
******

In [ ]:
A = "PYTHON"
print(A[0])

P

In [ ]:
A = "I LOVE PYTHON"
print(A[2])
print(A[-6])

L
P

In [ ]:
A = "I LOVE PYTHON"
print(A[2:6])

LOVE

In [ ]:
A = "I LOVE PYTHON"
print(A[-6:])

PYTHON

In [ ]:
A = "I LOVE PYTHON"
print(A[:2] + "WANT" + A[-7:])

I WANT PYTHON

In [ ]:
A = "PYSON"
A = A.replace("S","TH")
print(A)

PYTHON

In [ ]:

print("이름: %s"%"홍길동")
print("나이: %d" %20)

이름: 홍길동
나이: 20

In [ ]:
print("I studied for %d hours to do %s." %(2,"python"))

I studied for 2 hours to do python.

In [ ]:
percent = 25
print("%d%%|■■■        |"%percent)

25%|■■■        |

In [ ]:
percent, progressbar = 50, "|■■■■■"
progressbar = "|■■■■■"
print("%d%%%s     |"%(percent,progressbar))

50%|■■■■■     |

In [ ]:
A = "python"
B = "love"
print(f"I {B} {A}.")

I love python.

In [ ]:
print("I {0} {1}.".format("love","python"))

I love python.

In [ ]:
print("I {second} {first}.".format(first="python", second="love"))

I love python.

In [6]:
print('{0:.1%}'.format(0.125))  #32번 다시 풀기

12.5%

In [10]:
#33번 다시 풀기
print("""\
{_star}
                  {_text}                  
{_star}\
""".format(_star="*"*50, _text="I LOVE PYTHON"))

**************************************************
                  I LOVE PYTHON
**************************************************

In [11]:
text = """\
**************************************************
                  I LOVE PYTHON                   
 **************************************************\
 """
text = text.replace("*","#")
print(text)

##################################################
                  I LOVE PYTHON
 ##################################################

In [15]:
#35번 다시 풀기
text = """\
**************************************************
                  I LOVE PYTHON                   
 **************************************************\
 """
text = text.strip("*\n ") # "*\n"와 "*\n "의 차이점?
print(text)

I LOVE PYTHON

In [16]:
text = "PYTHON"
print(text.lower())

python

# 문제 2

In [17]:
fruits = ['귤', '사과', '오렌지', '배', '바나나']
print(fruits)

['귤', '사과', '오렌지', '배', '바나나']

In [21]:
fruits = ['귤', '사과', '오렌지', '배', '바나나']
fruits.append('돌')
fruits[1] = '감'
print(fruits)

['귤', '감', '오렌지', '배', '바나나', '돌']

In [22]:
fruits = ['귤', '감', '오렌지', '배', '바나나', '돌']
fruits.insert(1,'사과')
del(fruits[-1])
print(fruits)

['귤', '사과', '감', '오렌지', '배', '바나나']

In [24]:
num = [0,1,2,3,4,5,6,7,8,9]

num = num*3
num.reverse()
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [39]:
num = ['python',1,2,3,4,5,6,7,8,9]

print(num[-2:1:-2]) #num[-2:0:-2]와 num[-2:1:-2] 무슨 차이?

[8, 6, 4, 2]

In [42]:
num = ['python',1,2,3,4,5,6,7,8,9]

print((",").join(map(str,num)))

python,1,2,3,4,5,6,7,8,9